<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user %></h1>
    <p>
      You have a new inquiry!<br>
    </p>
    <p>
      Details:
    </p>
    <ul> 
      <li> Size: <%= @inquiry.size %></li>
      <li> Office type: <%= @inquiry.office_type %></li>
      <li> Peers: <%= @inquiry.peers %></li>
      <li> Email: <%= @inquiry.email %></li>
      <li> Flexible: <%= @inquiry.flexible %></li>
      <li> Phone: <%= @inquiry.phone %></li>

      <ul> Locations: 
        <% @inquiry.locations.each do |location| %>
          <li><%= location %> </li>
        <% end %>
      </ul>

      <li> Start date: <%= @inquiry.start_date %></li>
    </ul>
  </body>
</html>